@charset "utf-8";
/* CSS Document */

#art{
	background-color: #20b65c;
}

#accueil{
	background-color: #f1018a;
}

#eco{
	background-color: #fa9442;
}

#para{
	background-color: #ea080c;
}

#peda{
	background-color: #176dc2;
}

#social{
	background-color: #F1F114
}
#tech{
	background-color: #682f8d;
}
