/* Scss Document */
/* line 5, ../scss/filtre-cat.scss */
#art {
  background-color: #76B729;
}

/* line 9, ../scss/filtre-cat.scss */
#accueil {
  background-color: white;
}

/* line 13, ../scss/filtre-cat.scss */
#eco {
  background-color: #F49800;
}

/* line 17, ../scss/filtre-cat.scss */
#para {
  background-color: #D21D10;
}

/* line 21, ../scss/filtre-cat.scss */
#peda {
  background-color: #1B97CE;
}

/* line 25, ../scss/filtre-cat.scss */
#social {
  background-color: #F0E51A;
}

/* line 28, ../scss/filtre-cat.scss */
#tech {
  background-color: #5D0749;
}
