.ct-news{
	background-color: #fab1a0;
}

.article{
	background-color: #74b9ff;
}

.ct-loop{
	background-color: #a29bfe;
}

.ct-events{
	background-color: #ffeaa7;
}

.ct-gallery{
	background-color: #81ecec;
}

h2{
	margin: 0 10px;
}